<!DOCTYPE html>
<html>
<head>
    <title>VM Control</title>
</head>
<body>
    <h1>List of VMs</h1>
    <table>
        <tr>
            <th>VM name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for vm in vms %}
        <tr>
            <td>{{ vm.name }}</td>
            <td>{{ vm.status }}</td>
			<td><a href="/screenshot?name={{ vm.name }}&host={{ vm.host | urlencode }}" target="_blank">Просмотр экрана</a></td>
            <td>
                <form action="/reboot" method="post">
                    <input type="hidden" name="name" value="{{ vm.name }}">
    				<input type="hidden" name="host" value="{{ vm.host }}">
                    <button type="submit">Soft Reboot</button>
                </form>
                <form action="/destroy" method="post">
                    <input type="hidden" name="name" value="{{ vm.name }}">
    				<input type="hidden" name="host" value="{{ vm.host }}">
                    <button type="submit">Power off (In case is VM hangup)</button>
                </form>
                <form action="/start" method="post">
                    <input type="hidden" name="name" value="{{ vm.name }}">
    				<input type="hidden" name="host" value="{{ vm.host }}">
                    <button type="submit">Start</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

