<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VM Control</title>

	<!-- jQuery -->
	<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>

	<!-- DataTables -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<style>
	table {
    	width: 100%;
	}
	
	th {
    	background-color: #ffffff;
	    font-weight: 600;
	}

	td, th {
    	padding: 8px;
    	text-align: left;
	}

	.status-circle {
		height: 10px;
		width: 10px;
		border-radius: 50%;
		display: inline-block;
		margin-right: 5px;
	}

	.running {
		background-color: #28a745;
	}

	.stopped {
		background-color: #dc3545;
	}
	.d-flex.flex-row {
    	gap: 10px; /* Adjust the value as needed */
	}
	</style>
</head>
<body>
	<div class="container mt-5">
		<h1>VM list</h1>
{% for host, vms in vms_grouped.items() %}
    <div class="host-section">
        <hr> <!-- Horizontal line to separate each host -->
        <h2>{{ host }}</h2> <!-- Display the host name -->
        <table id="my-vm-table-{{ loop.index }}" class="table table-striped vm-table">
			<thead>
				<tr>
					<th scope="col">VM name</th>
					<th scope="col">Status</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for vm in vms %}
				<tr>
					<td>{{ vm.name }}</td>
					<td>
						<span class="status-circle {% if vm.status == 'Running' %}running{% else %}stopped{% endif %}"></span>{{ vm.status }}
					</td>
					<td>
						<div class="d-flex flex-row">
						<a href="#" class="btn btn-info btn-sm" onclick="showScreenshotModal('{{ vm.name }}', '{{ vm.host | urlencode }}')">Preview screen</a>
						<form action="/start" method="post" style="display: inline;">
							<input type="hidden" name="name" value="{{ vm.name }}">
							<input type="hidden" name="host" value="{{ vm.host }}">
							<button type="submit" class="btn btn-success btn-sm">Start</button>
						</form>
						<form action="/reboot" method="post" onsubmit="return confirmReboot();">
							<input type="hidden" name="name" value="{{ vm.name }}">
							<input type="hidden" name="host" value="{{ vm.host }}">
							<button type="submit" class="btn btn-warning btn-sm">Reboot</button>
						</form>
						<form action="/destroy" method="post" onsubmit="return confirmShutdown();">
							<input type="hidden" name="name" value="{{ vm.name }}">
							<input type="hidden" name="host" value="{{ vm.host }}">
							<button type="submit" class="btn btn-danger btn-sm">Force Shutdown</button>
						</form>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
    </div>
{% endfor %}
	</div>

	<!-- Модальное окно для скриншота -->
	<div class="modal fade" id="screenshotModal" tabindex="-1" aria-labelledby="screenshotModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="screenshotModalLabel">Screenshot preview</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<img src="" id="screenshotImage" style="width: 100%;">
		  </div>
		</div>
	  </div>
	</div>


	<script>
	function showScreenshotModal(vmName, vmHost) {
		var timestamp = new Date().getTime(); // Получаем текущую метку времени
		var imageUrl = "/screenshot?name=" + encodeURIComponent(vmName) + "&host=" + encodeURIComponent(vmHost) + "&timestamp=" + timestamp;
		document.getElementById('screenshotImage').src = imageUrl;
		$('#screenshotModal').modal('show');
	}
	</script>
	<script>
	function confirmReboot() {
		return confirm('Are you sure you want to reboot VM?');
	}

	function confirmShutdown() {
		return confirm('Careful! This will shutdown VM without saving current openned files. Are you sure?');
	}
	</script>
	<script>
	$(document).ready(function() {
    	$('.vm-table').DataTable({
        	"lengthChange": false,
        	"pageLength": -1,
			"info": false,
			"paging": false
    	});
	});
	</script>


</body>
</html>

